<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather-icon.png"> 
    <link rel="stylesheet" href="/css/style.css">
     

</head>

<body>
    <div class ="main-content">

         <p>{{>header}}</p>
         <p>{{errorMessage}}</p>    
    </div>
   
    <p>{{>footer}}</p>
</body>
 

</html>