<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="icon" href="/img/weather-icon.png"> 
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class = "main-content">

    <p>{{>header}}</p>
     
    <img class = "portriate" src = "/img/img1.png">
    </div>
   
      <p>{{>footer}}</p>
</body>

 

</html>