<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather-icon.png"> 
    <link rel="stylesheet" href="./css/style.css">  
    <script src =  "/js/app_script.js"></script>

</head>

<body>
    <div class = "main-content">
        <h1>Weather App</h1>
         <p>{{>header}}</p>
         <p>Use this weather app to get weather update of any location</p>
    </div>
   
    <p>{{>footer}}</p>
</body>
 

</html>    